.status-button {
  background-color: lightskyblue;
  font-family: "Courier New";
  width: 100%;
  border-radius: 5px;
}

.button-menu {
  display: flex;
  justify-content: flex-start;
}

.bay-body {
  background-color: darkgray;
}